{% extends 'base.html.twig' %}

{% block title %}Nos partenaires{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title pt-5">
                    LES PARTENAIRES
                </h1>
                <div class="col-10 text-left pt-5">
                    <div class="presentation mb-5">
                        <p>Pour vous offrir toujours plus de choix tout en respectant notre vision, nous sommes allés à
                            la rencontre d’artisans et de personnalités inspirantes qui œuvrent pour un monde plus
                            durable et respectueux. Ils ont été sélectionnés avec soin pour la qualité de leurs
                            produits, leur engagement social ou leur dimension écologique. Nous souhaitons ici mettre en
                            avant leurs univers ainsi que leur savoir-faire. </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
<div class="container-fluid text-center pb-5 ml-5">
    <div class="row">
        <div class="col-6">
                <img src="{{ asset('assets/img/olifant-partenaire.webp') }}" class="img_atelier"
                     alt="partenaire-olifant partenaire tiny_and_pretty"/>
                <div class="title_atelier text-center mt-5">
                    <h3>L’OLIFANT</h3>
                </div>
        </div>
        <div class="col-6">
            <div class="coming_soon_box">
                <img src="{{ asset('assets/img/calcetines.webp') }}" class="img_atelier"
                     alt="atelier couture enfant  partenaire "/>
                <div class="coming_soon_text">
                    <div class="text_soon">
                        <h4>WE NEED YOU</h4>
                        <h6>COMING SOON</h6>

                    </div>
                </div>
            </div>


            <div class="title_atelier text-center mt-5">
                <h3>DEVENIR PARTENAIRE</h3>
            </div>
            <div class="description_atelier text-left mt-5 ml-5 mr-5">
                <p>Envie de collaborer avec nous et de faire partie de l'aventure Tiny & Pretty ?<br>
                    Vous aimeriez devenir partenaire ?
                </p>
                <button class="btn-blog join mx-auto"><span>Rejoignez-nous !</span></button>

            </div>
        </div>
    </div>
</div>
{% endblock %}
