{% extends 'base.html.twig' %}

{% block title %}MODIFIER MON MOT DE PASSE{% endblock %}

{% block content %}
<div class="container-fluid text-center mt-5 mb-5">
    <div class="title_sign">
    <h1>MODIFIER MON MOT DE PASSE</h1>
    </div>
<div class="back-to-account mb-5">
    <p><span><a href="{{ path('account') }}"  style="color:#a9bf7a;"> Retour à mon compte</a></span></p>
</div>

    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6  text-center mx-auto">
                {{ form(form) }}
            </div>
        </div>

    </div>
    <hr>
</div>
{% endblock %}
