{% extends 'base.html.twig' %}

{% block title %}Paiement sécurisé{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title pt-5">
                    PAIEMENT SÉCURISÉ
                </h1>
                <div class="col-10 text-left pt-5">
                    <div class="presentation">
                        <p>Commandez les yeux fermés sur le site de Tiny and Pretty ! Toutes les données bancaires que
                            vous nous fournissez sont protégées par cryptage SSL (Secure Socket Layer) et ne sont jamais
                            stockées dans notre système informatique. Vos paiements en ligne sont donc entièrement
                            sécurisés.</p>

                        <p>1. Le paiement des achats s’effectue par carte de crédit de type Visa ou Mastercard, par
                            cartes bancaires de type “Maestro” et “Bancontact – Mistercash”, par le système de paiement
                            sécurisé Paypal ou encore par le système de paiement en trois fois, Klarna. Lors de la
                            validation de la commande, l’utilisateur indique le nom qui figure sur sa carte de crédit ou
                            de banque, le numéro de la carte, sa date d’expiration (et le numéro de contrôle dans le cas
                            d’une Visa et/ou Mastercard). Certains organismes bancaires émetteurs peuvent demander une
                            signature supplémentaire de type digipass. La validité du paiement est confirmée ou non
                            après vérification par l’organisme bancaire émetteur. Si le paiement est confirmé, le
                            prélèvement intervient, après la facturation de la commande, selon les modalités convenues
                            avec l’organisme bancaire émetteur de la carte.</p>

                        <p>2. Le(s) produit(s) commandé(s) demeure(nt) la propriété du vendeur jusqu’au complet paiement
                            du prix d’achat et des frais indiqués lors de la commande.</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
