{% extends 'base.html.twig' %}

{% block title %}Deuxième vie{% endblock %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title">
                    DEUXIÈME VIE
                </h1>
                <div class="col-10 text-left pt-5 pb-5">
                    <div class="presentation">
                        <p>Chez Tiny & Pretty, chaque petites choses, chaque petits gestes comptent. C’est pourquoi il
                            est impératif pour nous d’aller jusqu’au bout de notre projet en donnant une seconde vie à
                            ces objets que nous avons chéris le temps d’une saison, ou de grandir tout simplement.</p>

                        <p> Que faites-vous de ces bonnets tricotés déjà trop petits avant même qu'ils n'aient eu le
                            temps de le porter ? De ces dizaines (centaines ??) de body tellement craquants qu’il était
                            impensable de s’en passer ?</p>

                        <p> Afin de consommer plus responsable, Tiny & Pretty a tenu à développer son propre service de
                            seconde main, mais pas n’importe lequel ! Un service qui vous permet de vendre et d’acheter
                            nos produits et ceux de nos partenaires directement sur notre site à un prix concurrentiel
                            tout en assurant la qualité des articles.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
