{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block content %}

    <!--Accordion wrapper-->
    <div class="accordion md-accordion col-10" id="accordionEx1" role="tablist" aria-multiselectable="true">

        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo1">
                <a class="collapsed" style="text-decoration: none;" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                   aria-expanded="false" aria-controls="collapseTwo1">
                    <h6 class="mb-0">
                        Comment retourner un article ? <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    <p>Vous avez jusqu'à 60 jours à compter de la réception de votre commande pour échanger votre
                        article pour une autre taille ou demander son retour.</p>
                    <p>Vous pouvez effectuer votre retour par courrier à l'adresse suivante :</p>
                    <p><span>Tiny and Pretty</span></p>
                    <p><span>Rue de Wallonie, 9b</span></p>
                    <p><span>B-4460 Grâce-Hollogne</span></p>
                </div>
            </div>

        </div>
        <!-- Accordion card -->

        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo21"
                   aria-expanded="false" aria-controls="collapseTwo21">
                    <h6 class="mb-0">
                        Puis-je annuler ou modifier ma commande ? <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseTwo21" class="collapse" role="tabpanel" aria-labelledby="headingTwo21"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch
                    3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
        <!-- Accordion card -->

        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                   aria-expanded="false" aria-controls="collapseThree31">
                    <h6 class="mb-0">
                        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch
                    3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                   aria-expanded="false" aria-controls="collapseThree31">
                    <h6 class="mb-0">
                        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch
                    3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                   aria-expanded="false" aria-controls="collapseThree31">
                    <h6 class="mb-0">
                        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch
                    3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                   aria-expanded="false" aria-controls="collapseThree31">
                    <h6 class="mb-0">
                        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch
                    3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                   aria-expanded="false" aria-controls="collapseThree31">
                    <h6 class="mb-0">
                        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch
                    3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                   aria-expanded="false" aria-controls="collapseThree31">
                    <h6 class="mb-0">
                        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch
                    3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                   aria-expanded="false" aria-controls="collapseThree31">
                    <h6 class="mb-0">
                        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch
                    3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                   aria-expanded="false" aria-controls="collapseThree31">
                    <h6 class="mb-0">
                        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch
                    3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                   aria-expanded="false" aria-controls="collapseThree31">
                    <h6 class="mb-0">
                        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch
                    3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
        <!-- Accordion card -->
        <!-- Accordion card -->
        <div class="card">

            <!-- Card header -->
            <div class="card-header" role="tab" id="headingThree31">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseThree31"
                   aria-expanded="false" aria-controls="collapseThree31">
                    <h6 class="mb-0">
                        Collapsible Group Item #3 <i class="fas fa-angle-down rotate-icon ml-5"></i>
                    </h6>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapseThree31" class="collapse" role="tabpanel" aria-labelledby="headingThree31"
                 data-parent="#accordionEx1">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch
                    3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
        <!-- Accordion card -->

    </div>
    <!-- Accordion wrapper -->

{% endblock %}
