@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital@1&display=swap");
.bg-image-banner {
  position: relative;
  background: url("../img/banner-mere-et-enfant.webp") no-repeat center fixed;
  background-size: cover;
  height: 60vh;
  width: 120% !important;
}

.slogan {
  font-family: Quicksand, sans-serif;
  font-size: 8vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category {
  margin-top: 5rem !important;
  margin-bottom: 10rem;
  width: 90%;
}

.Pict {
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transition-duration: 875ms;
}

.Pict:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.description {
  font-family: Quicksand, sans-serif;
  font-size: 3vh;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.separator {
  font-family: Quicksand, sans-serif;
  width: 100%;
  font-size: 4vh;
  letter-spacing: 0.3rem;
  margin-top: 5rem;
}

.bestproducts {
  margin-top: 5rem !important;
  margin-bottom: 10rem !important;
  width: 90%;
}

.descriptionBest {
  font-size: 1.8vh;
}

.bg-image-deuxieme {
  background: url("../img/deuxieme-vie-bebe.webp") no-repeat center fixed;
  background-size: cover;
  height: 60vh;
  width: 100% !important;
  margin-top: 10rem !important;
  margin-bottom: 5rem;
}

.box {
  width: 20vw;
  height: 45vh;
  background-color: white;
  position: absolute;
  transform: translate(10vw, 15.2vh);
}

.boxtext {
  margin: 2vh;
}
.boxtext p {
  font-size: 2.1vh;
  color: #6a6868;
  font-family: Cantarell, sans-serif;
}
.boxtext .profite {
  background-color: #fcd474;
  box-shadow: 0.05em 0.05em 0.05em #aaaaaa;
  font-size: 1.5vh;
  color: white;
  border: none;
}

.imgblog {
  width: 90%;
  margin-top: 3rem;
}

.btn-blog {
  border: 0.1em solid !important;
  border-color: rgba(148, 142, 142, 0.5) !important;
  background-color: #FFFFFF;
  padding: 0.5rem;
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  margin: 1rem;
  color: #948e8e;
}

.category-blog {
  font-size: 1.2vh;
  color: #6a6868;
}

.title-blog {
  font-size: 1.8vh;
  color: #6a6868;
}

.text-share {
  font-family: Quicksand, sans-serif;
  letter-spacing: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 2rem;
}

.reseau {
  font-size: 5vh;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .box {
    width: 60vw;
    height: 45vh;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .box {
    width: 60vw;
    height: 45vh;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .box {
    width: 60vw;
    height: 45vh;
  }
}
.content-layout {
  padding-top: 3vw !important;
}

.form {
  padding-left: 2vw;
}

#submit {
  background-color: #fcd474;
  border: none;
}

.category_description {
  font-size: 2vh;
  padding-left: 3vw;
  margin-bottom: 10rem !important;
  width: 90%;
  font-family: Cantarell, sans-serif;
  color: #948E8E;
  position: relative;
}

.descriptionBest {
  font-size: 1.8vh;
  font-family: Quicksand, sans-serif;
}

.product-item {
  cursor: pointer;
}

.apercu {
  border: none;
  position: absolute;
  background-color: #fcd474 !important;
  width: 75%;
  z-index: 2;
  margin: 0 auto;
  right: 12.5%;
  top: 45%;
  opacity: 0;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
}

.apercu:hover {
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.aside-description {
  font-family: Quicksand, sans-serif;
  text-align: center;
}

.btn {
  border-radius: 0 !important;
  padding: 2vh !important;
}

hr {
  margin: 0 !important;
  padding: 0 !important;
}

#headingOne {
  border: none !important;
}

@media only screen and (min-device-width: 960px) and (max-device-width: 2000px) {
  .aside-description {
    text-align: left !important;
  }
}
.title {
  font-family: Quicksand, sans-serif;
}

.presentation {
  font-family: Cantarell, sans-serif;
  padding-left: calc(100vw/5);
  line-height: 3vh;
  color: #948E8E;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

/*
.logo-img {
  width:167px;
  height:77px;

  margin-bottom:26px;
  margin-left:44px;
}

.navigation{
  margin-left:10%;
}


.link-home{
  color:#948E8E;
  font-size: 14px;
  display:flex;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-right: 33px;
  &:hover{
    text-decoration: underline;
    color:black;


  }

}


* {
  margin: 0px;
  padding: 0px;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}


nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color:#948E8E;

}

.menu-deroulant > a:after{

  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {

  margin-top: 25px;
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: white;
  z-index:999;
  position:absolute;
  left:0;
  font-size:14px;
  display:flex;
  justify-content: space-evenly;
  color:#948E8E;

  h3{


    font-size:13px;
    text-transform: uppercase;
    font-weight: initial;
    padding-left: 20px;
  }


}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 2s forwards;
}

@keyframes apparitionSousMenu {

  100% {
    max-height: 50em;

  }
}


.sous-menu > ul > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
  text-decoration: none;
  color:#948E8E;
}

.sous-menu > li:hover > a {
  color: white;
}

.icon-nav{
  text-decoration: none;
  color:#948E8E;

  a {
    margin-right: 30px;

  }
}

.cart {
  @extend .icon-nav;
}

.orange-nav{

  width: 1440px;
  height: 54px;
  left: 0px;
  top: 115px;
  background: #FCD474;
  border-top:1px solid #B1AEAE;
  display:flex;
  justify-content: center;
  align-items: center;

  p{
    color:white;
    text-align: center;
    margin-top: 5px;
    font-size:14px;


  }
}

 */
/*
.dropdown-menu{
  font-family: $titleFontRegular;
  color:  rgba(0,0,0,.5);
  height: 50vh !important;
 // width: 200vw!important;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.little-drop{
  text-align: center!important;
  height: 10vh!important;
  width: 10vw!important;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  margin: 0 1vw;
}
nav ul li a{
 // color: white;
  padding: 1vh ;
}
.logo-img{
  width: 50%;
  height: auto;
}


.dropdown:hover .dropdown-menu{
  display: inline-block;

 //transform: translate(-22.5%, 5.8%);
  transition: visibility 15s, opacity 2s ease;


}

//FOOTER
footer{
  font-family: $titleFontRegular;
}

 */
.logo-img {
  width: 50%;
  height: auto;
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*=p-2] {
  margin-bottom: 1rem;
  flex-direction: column !important;
}

.navbar .dropdown-menu {
  font-family: Quicksand, sans-serif;
  font-size: 2vh;
  color: rgba(0, 0, 0, 0.5);
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0.5rem 0.5rem;
    margin: 0 0.25rem;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu div[class*=p-2] {
    flex-direction: row !important;
  }

  .navbar .dropdown-menu {
    width: 100vw;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 8vh;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }

  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}
.title {
  font-family: Quicksand, sans-serif;
  font-size: 3vh;
}

.presentation {
  font-family: Cantarell, sans-serif;
  font-size: 1.5vh;
  padding-left: calc(100vw/5);
  line-height: 3vh;
  color: #948E8E;
}

.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.empty {
  font-weight: bold;
}

.title_cart {
  font-family: Quicksand, sans-serif;
  padding: 2vw;
}

.validation {
  font-family: Cantarell, sans-serif;
}

.validate {
  background-color: #a9b97a !important;
}

.title_sign {
  font-family: Quicksand, sans-serif;
  font-size: 1vh;
}

.input {
  font-family: Cantarell, sans-serif;
}

.connect {
  background-color: #a9b97a;
  padding: 2vh;
}

.reset-register {
  padding: 5vw;
}

.title_order {
  font-family: Quicksand, sans-serif;
  padding-top: 5vh;
  font-size: 1vh !important;
}

.text_order {
  font-family: Cantarell, sans-serif;
}

.recap {
  padding-top: 5vh;
}

.btn-success {
  background-color: #a9b97a !important;
  border: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .title_order {
    font-size: 0.8vh !important;
    text-align: center;
  }

  .img-product {
    padding: 1vw;
  }
}
@media only screen and (min-device-width: 568px) and (max-device-width: 1024px) {
  .title_order {
    font-size: 1.2vh !important;
    background-color: blue;
  }
}

/*# sourceMappingURL=boutique.css.map */
