@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&display=swap');

$titleFontRegular: Quicksand, sans-serif;
$textFontRegular: Cantarell, sans-serif;
$yellow: rgb(252, 212, 116, 100);
$green: #a9b97a;


@import 'home';
@import 'product';
@import 'show';
@import 'deuxiemevie';
@import "header";
@import 'concept';
@import 'ateliers';
@import 'cart';
@import 'login';
@import 'order';
@import 'password';
@import 'adress';
@import "footer";

