
.empty{
  font-weight: bold;
}
.title_cart{
  font-family: $titleFontRegular;
  padding: 2vw;
}
.validation{
  font-family:$titleFontRegular;
}
.validate{
  background-color: $green!important;

}
.article_name{
  text-transform: uppercase!important;
}