
.empty{
  font-weight: bold;
}
.title_cart{
  font-family: $titleFontRegular;
  padding: 2vw;
}
.validation{
  font-family:$textFontRegular;

}
.validate{
  background-color: $yellow!important;
  box-shadow: 0px 0px 16px 1px rgba(119, 119, 119, 0.28);
  -moz-box-shadow: 0px 0px 16px 1px rgba(119, 119, 119, 0.28);
  -webkit-box-shadow: 0px 0px 16px 1px rgba(119, 119, 119, 0.28);
}