html{
height: 100%;
}
body{
  height: 100%;
}
.bckimg {
 // animation-fill-mode: both;
  --animate-duration: 5s;
  width: 100%;
  height: auto;
  position: relative;

}
.comingtext {
  font-family: $titleFontRegular;
  color: black;
  z-index: 5;
  margin:auto;
  position:absolute;
  top:calc(20%/2);
  left: calc(25%/2);

}
.container-soon{
  position: absolute;
  width: 25vw;
  height: 24vh;
  background-color: white;
  margin:auto;
  z-index: 999;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}
.container-border{
  position: relative;
  width: 23.5vw;
  height: 21.5vh;
  border-style: solid;
  border-width: 0.2rem;
  border-color: black;
  margin:auto;
  top: 5.5%;
  z-index: 999;
}
.background-coming-soon{
  z-index: -1;
  width: 100%;
  height: auto;
background-color: black;
  position: relative;
}
.send{
  background-color: $yellow;
  border-color: $yellow;
}
.Tiny{
  font-family: $titleFontRegular;
  color: white;
  z-index: 999;
  margin:auto;
  position:absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}