ul{
  line-height: 4vh;
  li {
    list-style-type: none;
    font-size: 1rem;
  }
}
.footer-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: $titleFontRegular;
  margin-top: 8vh!important;
  .logo-img{
    width: 20%!important;
  }
  a{
    color: #0b2e13;
  }
}


.cards-icon{
  width:3rem;
  height:3rem;
  margin-right:1rem;
  margin-top: 2rem;
}