.logo-img img {
  padding: 2vw;
  width: 50vw !important;
  height: auto;
  margin-bottom: 2vh;
}
.list-footer {
  list-style-type: none;
  font-size: 1rem;
}

a {
  color: #0b2e13;
  text-decoration: none;
}
.footer-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: $titleFontRegular;
  margin-top: 8vh !important;
}
.cards-icon {

  width: 1.5rem;
  height: auto;

  margin: 2rem;
}



@media screen and (min-width: 992px) {

  .logo-img img {
    padding: 1vw;
    width: 20vw !important;
    height: auto;
  }
  .cards-icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }



}