.logo-img img {
  padding: 2vw;
  width: 50vw !important;
  height: auto;
  margin-bottom: 2vh;
}
.list-footer {
  list-style-type: none;
  font-size: 1rem;
}

.link_footer {
color: grey;
  text-decoration: none;
}
.footer-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: $titleFontRegular;
  margin-top: 8vh !important;
}
.cards-icon {

  width: 1.5rem;
  height: auto;

  margin: 0.5rem;
}



@media screen and (min-width: 768px) {

  .logo-img img {
    padding: 0;
    width: 15vw !important;
    height: auto;
    background-color: red;
    margin-left: 2vw;
  }
  .cards-icon {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }



}
@media (min-width: 1024px) and (orientation: landscape) {
  .logo-img img{
    background-color: #00bb00;
    width: 10vw!important;
  }
}