body{
  padding:0 !important;
  margin: 0 !important;
  width:100vw;
}
.title_drop{
  color: #797474FF;
z-index: -999;
background-color: #DCD3D359;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.navbar .nav-link .inactive{
  cursor: default!important;
}

.navbar .nav-item {
  display: flex;

}
.navbar-brand{
  margin: 0!important;
  width: 40vw;
}
.logo-img-header{
  padding-top: 1vh;
  padding-bottom: 1.5vh;
  margin: 0!important;
  width: 150%;
  height: auto;
}
.icones-nav{
  width: 5vw;
 fill: grey;
}
/*
.bag-count{
  position: relative;
}
.cercle-bag{
  width: 1.3rem;
  height: 1.3rem;
  background-color: $yellow;
  border: 0.2rem solid $yellow;
  border-radius: 50%;
  position: absolute;
  top: 100%;
 left: 110%;
  transform: translate(-50%, -50%);
}
.content-bag{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $textFontRegular;
  font-size: 0.8rem;
  font-weight: bold;
}

 */
/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="p-2"] {
  margin-bottom: 1rem;
  flex-direction: column !important;
}

.navbar .dropdown-menu {
  font-family: $titleFontRegular;
  font-size: 3vh;
  color:  dimgrey;
  // width: 50%;
}
.little-drop{
  left: 4vw!important;
  margin: 0!important;
  padding: 0!important;

}
.categories-nav{
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  border-bottom-width: 0.002rem;
}


/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 768px) and (max-width: 1024px){
  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */

  .navbar .nav-link{
    padding-left: 0vw!important;
  }

  .icones-nav{
    width: 2vw;
  }
  .navbar-brand{
    margin: 0!important;
    width: 20%;
  }
  .logo-img-header{
    width: 100%;
    height: auto;
  }


  /* makes the dropdown full width  */
  .little-drop{
    width: 30vw!important;
    height: 8vh!important;
    left: 70vw!important;
    top: 12vh!important;
  }
  .navbar .dropdown {
    position:static;
  }

  .navbar .dropdown-menu div[class*="p-2"] {
    flex-direction: row!important;
  }
  .navbar .dropdown-menu {
    width:100vw;
    height: 50vh;
    left: 0;
    right:0;
    /*  height of nav-item  */
    top:12vh;
      font-size: 1.8vh;
  }

}
@media (min-width: 1024px) and (orientation: landscape) {
  .little-drop{
    width: 20vw!important;
    height: 10vh!important;
    left: 75vw!important;
    //top: 12vh!important;
  }
  .navbar .dropdown {
    position:static;
  }

  .navbar .dropdown-menu div[class*="p-2"] {
    flex-direction: row!important;
  }
  .navbar .dropdown-menu {
    width:50vw;
    height: 50vh;
    left: 40vw;
    right:0;
    /*  height of nav-item  */
    top:12vh;
    font-size: 1.8vh;
  }
  .navbar-brand{
    margin: 0!important;
    width: 20%;
  }

  .icones-nav{
    width: 1vw;
  }
  .logo-img-header{
    width: 50%;
    height: auto;
  }
  .navbar .nav-item {
  padding:1rem 1rem 1rem 1rem;
  margin:0 .25rem;

}
}
@media screen
and (min-device-width: 1025px)
and (max-device-width: 2000px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi)
{

  .navbar-brand{
    margin: 0!important;
    width: 20vw;
  }
  .logo-img-header{
    padding-top: 1vh;
    padding-bottom: 1.5vh;
    margin: 0!important;
    width: 100%;
    height: auto;
  }
  .icones-nav{
    width: 2vw;



  }

}

