

body{
  padding:0 !important;
  margin: 0 !important;
  width:100%;
}
* {
  margin: 0px;
  padding: 0px;
}
/*
.logo-img {
  width:167px;
  height:77px;

  margin-bottom:26px;
  margin-left:44px;
}

.navigation{
  margin-left:10%;
}


.link-home{
  color:#948E8E;
  font-size: 14px;
  display:flex;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-right: 33px;
  &:hover{
    text-decoration: underline;
    color:black;


  }

}


* {
  margin: 0px;
  padding: 0px;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}


nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color:#948E8E;

}

.menu-deroulant > a:after{

  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {

  margin-top: 25px;
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: white;
  z-index:999;
  position:absolute;
  left:0;
  font-size:14px;
  display:flex;
  justify-content: space-evenly;
  color:#948E8E;

  h3{


    font-size:13px;
    text-transform: uppercase;
    font-weight: initial;
    padding-left: 20px;
  }


}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 2s forwards;
}

@keyframes apparitionSousMenu {

  100% {
    max-height: 50em;

  }
}


.sous-menu > ul > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
  text-decoration: none;
  color:#948E8E;
}

.sous-menu > li:hover > a {
  color: white;
}

.icon-nav{
  text-decoration: none;
  color:#948E8E;

  a {
    margin-right: 30px;

  }
}

.cart {
  @extend .icon-nav;
}

.orange-nav{

  width: 1440px;
  height: 54px;
  left: 0px;
  top: 115px;
  background: #FCD474;
  border-top:1px solid #B1AEAE;
  display:flex;
  justify-content: center;
  align-items: center;

  p{
    color:white;
    text-align: center;
    margin-top: 5px;
    font-size:14px;


  }
}

 */


//HEADER
/*
.dropdown-menu{
  font-family: $titleFontRegular;
  color:  rgba(0,0,0,.5);
  height: 50vh !important;
 // width: 200vw!important;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.little-drop{
  text-align: center!important;
  height: 10vh!important;
  width: 10vw!important;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  margin: 0 1vw;
}
nav ul li a{
 // color: white;
  padding: 1vh ;
}
.logo-img{
  width: 50%;
  height: auto;
}


.dropdown:hover .dropdown-menu{
  display: inline-block;

 //transform: translate(-22.5%, 5.8%);
  transition: visibility 15s, opacity 2s ease;


}

//FOOTER
footer{
  font-family: $titleFontRegular;
}

 */
.logo-img{
  width: 50%;
  height: auto;
}
/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="p-2"] {
  margin-bottom:1rem;
  flex-direction: column!important;
}

.navbar .dropdown-menu {
  font-family: $titleFontRegular;
  font-size: 2vh;
  color:  rgba(0,0,0,.5);
 // width: 50%;

}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top:0px;
    padding-bottom:0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding:.5rem .5rem;
    margin:0 .25rem;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {position:static;}

  .navbar .dropdown-menu div[class*="p-2"] {
    flex-direction: row!important;
  }

  .navbar .dropdown-menu {
    width:100vw;
    left:0;
    right:0;
    /*  height of nav-item  */
    top:8vh;

    display:block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;

  }




  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display:block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }

}




