body{
  padding:0 !important;
  margin: 0 !important;
  width:100%;
}
* {
  margin: 0;
  padding: 0;
}
.navbar .nav-item {
  display: flex;

}
.navbar-brand{
  margin: 0!important;
  width: 20%;
}
.logo-img-header{
  padding-top: 1vh;
  padding-bottom: 1.5vh;
  margin: 0!important;
  width: 150%;
  height: auto;
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="p-2"] {
  margin-bottom: 1rem;
  flex-direction: column !important;
}

.navbar .dropdown-menu {
  font-family: $titleFontRegular;
  font-size: 2vh;
  color:  rgba(0,0,0,.5);
  // width: 50%;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
   padding:.5rem .5rem;
   margin:0 .25rem;

  }

  .logo-img-header{
    padding-top: 1vh;
    padding-bottom: 1.5vh;
    margin: 0!important;
    width: 50%;
    height: auto;
  }

  /* makes the dropdown full width  */
  .little-drop{
    width: 20vw!important;
    height: 15vh!important;
    left: 60vw!important;
  }
  .navbar .dropdown {position:static;}

  .navbar .dropdown-menu div[class*="p-2"] {
    flex-direction: row!important;
  }
  .navbar .dropdown-menu {
    width:100vw;
    height: 60vh;
    left:0;
    right:0;
    /*  height of nav-item  */
    top:8vh;
  }
  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display:block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }

}

