
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

$titleFontRegular: Quicksand, sans-serif;

//banner home
.bg-image-banner {
  position: relative;
  background: url('../img/banner-mere-et-enfant.webp') no-repeat center fixed;
  background-size: cover;
  height: 60vh;
  width: 120% !important;

}
.slogan{
  font-family: $titleFontRegular;
  font-size: 8vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn{
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 .5em .25em -.25em rgba(0, 0, 0, .2);
}

//category
.category{
  margin-top: 5rem !important;
  margin-bottom: 10rem;
  width: 90%;
}
.Pict{
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  transition-duration: 875ms;
}
.Pict:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.description{
  font-family: $titleFontRegular;
  font-size: 3vh;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.separator{
  font-family: $titleFontRegular;
  width: 100%;
font-size: 4vh;
  letter-spacing: 0.3rem;
  margin-top: 5rem;

}
//bestsellers
.bestproducts{
 margin-top: 5rem !important;
  margin-bottom: 10rem !important;
  width: 90%;
}
.descriptionBest{
  font-size: 1.8vh;
}

// deuxième vie
.bg-image-deuxieme{

  background: url('../img/deuxieme-vie-bebe.webp') no-repeat  center fixed;
  background-size: cover;
  height: 60vh;
  width: 100% !important;
  margin-top: 10rem !important;
  margin-bottom: 5rem;
}
.box{
  width: 20vw;
  height: 45vh;
  background-color: white;
  position: absolute;
  transform: translate(10vw, 15.2vh);
}
.boxtext{
  margin: 2vh;
  p {
    font-size: 1.8vh;
    color: rgb(106, 104, 104, 80);
  }
  .profite{
    background-color: rgb(252, 212, 116, 100);
    box-shadow: .050em .050em .050em #aaaaaa;
    font-size: 1.5vh;
    color: white;
    border: none;
  }
}

//BLOG
.imgblog{
  width: 90%;
  margin-top: 3rem;
}
.btn-blog{
border: 0.1em solid !important;
  border-color: rgb(148, 142, 142, 50%) !important;
  background-color: #FFFFFF;
  padding: 0.5rem;
font-size: 0.6rem;
  letter-spacing: 0.2rem;
  margin: 1rem;
  color: rgb(148, 142, 142);
}
.category-blog{
  font-size: 1.2vh;
  color: rgb(106, 104, 104, 80);
}
.title-blog{
 font-size: 1.8vh;
  color: rgb(106, 104, 104, 60);
}

//SHARE
.text-share{
  font-family: $titleFontRegular;
  letter-spacing: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 2rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .box{
    width: 60vw;
    height: 45vh;
  }

}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
  .box{
    width: 60vw;
    height: 45vh;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .box{
    width: 60vw;
    height: 45vh;
  }
}









