

.content-layout{
  padding-top: 3vw!important;
}

.form{
  padding-left: 2vw;
}
#submit{
  background-color: $yellow;
  border: none;
}
.category_description{
  font-size: 2vh;
  padding-left: 3vw;
  margin-bottom: 10rem !important;
  width: 90%;
  font-family: $textFontRegular;
  color:#948E8E;
  position: relative;
}

.descriptionBest{
  font-size: 1.8vh;
  font-family: $titleFontRegular;
}
.product-item{
  cursor: pointer;

}

.apercu{

  border: none;
  position: absolute;
  background-color: $yellow!important;
  width: 75%;
  z-index: 2;
  margin: 0 auto;
  right: 12.5%;
  top: 45%;
  opacity: 0;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
}
.apercu:hover{
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}




.soldout-background{

  background-color: rgba(168, 168, 168, 0.6);
}