

.content-layout{
  padding-top: 3vw!important;
}

.form{
  padding-left: 2vw;
}
#submit{
  background-color: $yellow;
  border: none;
}
.category_description{
  font-size: 2.2vh;
  padding-left: 3vw;
  margin-bottom: 10rem !important;
  width: 90%;
  font-family: $textFontRegular;
}

.descriptionBest{
  font-size: 1.8vh;
  font-family: $titleFontRegular;
}

.soldout-background{

  background-color: rgba(168, 168, 168, 0.6);
}