.aside-description{
  font-family:  $titleFontRegular;
 text-align: center;
  text-transform: uppercase;
}

.btn{
  border-radius: 0 !important;
  padding: 2vh!important;

}
hr{
  margin: 0!important;
  padding: 0!important;
}
#headingOne{
  border: none!important;
}

@media only screen and (min-device-width : 960px) and (max-device-width : 2000px){
  .aside-description{
    text-align: left!important;
  }
}

.soldout{
  border: 1px solid #b6b6b6;
  color:#b6b6b6;
  width:150px;
  font-size:14px;
  background-color: #f6f6f6;
  cursor: default;
}
