{% extends 'base.html.twig' %}

{% block title %}HLivraisons Et Retours{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title pt-5">
                    RETOURS
                </h1>
                <div class="col-10 text-left pt-5">
                    <div class="presentation">
                        <p>1. Si le(s) produit(s) acheté(s) sur le site ne convien(nen)t pas à l’utilisateur, celui-ci
                            dispose d’un délai de quatorze (14) jours calendrier, à compter du lendemain du jour de la
                            livraison, pour renoncer à son achat sans pénalité et sans indication de motifs,
                            conformément au code de droit économique.
                            Dans ce délai, l’utilisateur doit notifier au vendeur son intention de faire usage de son
                            droit de rétractation, de la façon suivante :
                        <ul>
                            <li>Envoyer un mail à happy@tinyandpretty.be</li>
                            <li> Notifier nom et prénom de l’acheteur</li>
                            <li>Donner une description détaillée du ou des articles remis</li>
                        </ul>
                        </p>

                        <p>2. Le retour au vendeur s’effectuera à l’adresse suivante, sauf instructions contraires
                            communiquées à l’utilisateur, par tout moyen de transport au choix de l’utilisateur, qui
                            doit en conserver la preuve d’expédition.
                            Tiny and Pretty, 9b rue de Wallonie 4460 Grâce-Hollogne, Belgique </p>

                        <p>3. Tous frais et risques liés à l’expédition du retour des articles sont à la charge de
                            l’utilisateur.</p>
                        <p>4. En cas d’utilisation de son droit de rétractation par l’utilisateur dans le délai précité
                            et du renvoi des produits au plus tard quatorze (14) jours suivant la communication de sa
                            décision de se rétracter selon les modalités convenues aux paragraphes précédents, le
                            vendeur s’engage à rembourser le prix d’achat à l’utilisateur, pour autant que celui-ci ait
                            déjà été payé, au plus tard à la réception du (des) produit(s) par le vendeur.</p>
                        <p>5. En cas de remboursement des produits retournés, le vendeur créditera la carte bancaire ou
                            la carte de crédit utilisée pour le paiement desdits produits d’un montant équivalent au
                            prix d’achat de ceux-ci, diminué du montant du (des) bon(s) d’achat ou remises intervenus
                            lors de la commande. Le remboursement de l’utilisateur s’effectuera selon les modalités
                            convenues avec l’organisme bancaire émetteur de la carte.</p>
                        <p>6. L’utilisateur ne pourra faire usage de son droit de rétractation et/ou d’échange si le(s)
                            produit(s) livré(s) a (ont) manifestement fait l’objet d’un usage durable, a (ont) été
                            endommagé(s), comporte(nt) des pièces manquantes.
                        </p>
                        <p>7. Le(s) produit(s) doit(vent) impérativement être retourné(s) correctement protégé(s), dans
                            son(leur) emballage(s) d’origine, dans un parfait état de revente (non abîmés, endommagés ou
                            salis par le client) accompagné(s) de tous les accessoires éventuels, notice d’emploi,
                            étiquette(s) du (des) vêtement(s), etc. à l’adresse sous indiquée. A défaut, ils ne pourront
                            être repris ou échangés.
                        </p>
                        <p>8. Ne pourront également être repris ou échangés, le(s) produit(s) pour lesquels aucun
                            élément joint ne permet d’identifier l’expéditeur (n° de retour, n° commande, nom, prénom,
                            adresse). Le(s) produit(s) renvoyés mais ne pouvant être acceptés en retour par le vendeur
                            sont tenus à la disposition de l’utilisateur chez le vendeur. L’utilisateur reste tenu d’en
                            payer le prix. En cas de retours anormaux ou abusifs, le vendeur se réserve le droit de
                            refuser une commande ultérieure.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
