{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid  text-center inscription">
        <div class="row">
            <div class=" col-6 justify-content-center ml-5">
                <div class="title_sign">
                    <h1 class="mb-3 mt-5"> INSCRIPTION</h1>
                </div>
                <div class="input">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}