{% extends 'base.html.twig' %}

{% block title %}Nos ateliers{% endblock %}

{% block content %}
    <section class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/T6ESYqnM2oQ?start=6"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>

        </iframe>
    </section>
{% endblock %}
