{% extends 'base.html.twig' %}

{% block title %}Cookie{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title pt-5">
                    COOKIES
                </h1>
                <div class="col-10 text-left pt-5">
                    <div class="presentation">
                        <h2 class="title pt-3">QU’EST CE QU’UN COOKIE ? </h2>
                        <p>Un « cookie » est un fichier installé sur votre terminal, permettant de stocker des
                            informations relatives à votre navigation sur notre site internet (paramètres de langue,
                            temps de connexion, pages visitées, ...). Nous pouvons consulter ces données lors de vos
                            prochaines visites, notamment pour faciliter votre navigation. Les paragraphes ci-dessous
                            ont pour objectif, dans un souci de transparence, de vous donner un recensement exhaustif
                            des cookies utilisés par Tiny & Pretty et de vous proposer une solution pour adapter votre
                            choix.</p>

                        <p>Nous attirons votre attention sur le fait que le partage de l’utilisation de votre terminal
                            avec d’autres personnes est susceptible de modifier le caractère personnalisé de l’action
                            des cookies. </p>
                        <h2 class="title pt-3">COMMENT EXERCER VOTRE CHOIX CONCERNANT LES COOKIES ?</h2>
                        <h5 class="subtitle pt-3">PARAMÈTRES DU NAVIGATEUR ET CONSÉQUENCES DE VOS CHOIX </h5>

                        <p>Plusieurs possibilités vous sont offertes pour gérer les cookies. A tout moment, vous pouvez
                            exprimer et modifier vos souhaits en matière de cookies via la section "Aide" de la barre
                            d'outils de votre navigateur. Celle-ci vous indique comment refuser les nouveaux « cookies
                            », comment obtenir un message qui vous signale leur réception ou encore comment désactiver
                            les « cookies » de manière systématique ou selon leur émetteur. Vous pouvez également
                            effacer les cookies manuellement. </p>
                        <p>Vous pouvez également choisir de désactiver ou de supprimer des données similaires utilisées
                            par des logiciels accessoires à votre navigateur, tels que les Flash cookies, en modifiant
                            les paramètres de ces logiciels ou en visitant le site Internet de l'éditeur de ces
                            logiciels. Attention, il est possible que cette configuration de votre navigateur vous
                            empêche d’accéder à certains contenus ou perturbe significativement votre navigation et les
                            services que vous attendez de la part de notre site. Le cas échéant, nous déclinons toute
                            responsabilité pour les effets résultant de l'impossibilité d’utiliser les cookies
                            nécessaires au fonctionnement du site. </p>

                        <h5 class="subtitle pt-3">VOTRE CHOIX SELON VOTRE NAVIGATEUR INTERNET : </h5>

                        <p>Pour la gestion des cookies, chaque navigateur propose un processus de configuration pour
                            sélectionner vos options. Il est décrit dans le menu d'aide de votre navigateur :
                        <ul>
                            <li>
                                Internet Explorer™ : ouvrez le menu « Outils » et sélectionnez « Options internet » ;
                                cliquez sur l'onglet « Confidentialité » puis l’onglet « Avancé » choisissez le niveau
                                souhaité ou suivez ce <a
                                        href="https://support.microsoft.com/fr-fr/windows/supprimer-et-g%C3%A9rer-les-cookies-168dab11-0753-043d-7c16-ede5947fc64d">lien.</a>
                            </li>
                            <li>
                                Firefox™ : ouvrez le menu « Outils » et sélectionnez « Options » ; cliquez sur l'onglet
                                « Vie privée » puis choisissez les options souhaitées ou suivez ce <a
                                        href="https://support.mozilla.org/fr/kb/protection-renforcee-contre-pistage-firefox-ordinateur?redirectslug=Activer+et+d%C3%A9sactiver+les+cookies&redirectlocale=fr">
                                    lien.</a>
                            </li>
                            <li>
                                Chrome™ : ouvrez le menu de configuration et sélectionnez « Options » ; cliquez sur «
                                Options avancées » puis dans la section « Confidentialité », cliquez sur « Paramètres de
                                contenu », et choisissez les options souhaitées ou suivez ce<a
                                        href="https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en"> lien.</a>
                            </li>
                            <li>Safari™ : choisissez « Safari > Préférences » et cliquez sur « Sécurité » ; Dans la
                                section « Accepter les cookies » choisissez les options souhaitées ou suivez ce<a
                                        href="https://support.apple.com/fr-be/guide/safari/sfri11471/mac"> lien.</a>
                            </li>
                            <li>
                                Opera™ : ouvrez le menu « Outils » ou « Réglages » et sélectionnez « Supprimer les
                                données privées »; cliquez sur l'onglet « Options détaillées », puis choisissez les
                                options souhaitées ou suivez ce <a href="https://help.opera.com/en/latest/web-preferences/#cookies">lien.</a>
                            </li>
                        </ul>

                        </p>
                        <h5 class="subtitle pt-3">VOTRE CHOIX SUR MOBILE  :</h5>
                        <ul>
                            <li>
                                Pour spécifier si Safari™ accepte ou non des cookies, allez dans l’écran principal et choisissez « Réglages > Safari ». Ensuite, touchez « Accepter les cookies » et choisissez « Jamais », « Des sites visités » ou « Toujours ».
                            </li>
                            <li>
                                Pour effacer tous les cookies dans Safari, allez dans l’écran principal puis choisissez « Réglages > Safari » et touchez « Effacer les cookies ».
                            </li>
                            <li>
                                Pour supprimer les cookies sur Androïd, allez dans « Menu » puis sur « Paramètres » et cliquez sur « Effacer tous les cookies ».
                            </li>
                        </ul>


                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
