{% extends 'base.html.twig' %}

{% block title %}L'atelier de Débora{% endblock %}

{% block content %}

    <div class="container-fluid col-12">
        <div class="row align-items-center">
            <div class="banner-debora">
                <div class="container-fluid align-items-center justify-content-center text-center">
                    <div class="text-white">
                        <h1 class="slogan-debora">L'ATELIER DE DÉBORA</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid">
    <div class="row justify-content-between ml-2 my-5">
    <aside class="col-lg-3 col-sm-12 col-md-3 ">
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ssnrzl4PHUE?loop=1&playlist=Ssnrzl4PHUE" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>

            </iframe>


        </div>
    </aside>
    <section class="col-lg-6 col-sm-12 col-md-9">
        <div class="debora-story">
            <p>C’est au fil de plusieurs recherches
                que T&P a su trouver les mains de fée
                qui l’aideront à grandir. Un projet
                devenu commun, comme si d’une
                rencontre professionnelle, nous
                devenions une famille, passionnée et
                convaincue par ce projet.</p>

            <p>
                Débora n’a pas rejoint la famille Tiny & Pretty par hasard. Ses grandes qualités de
                couturière ainsi que sa personne, engagée, pétillante et énergique on fait d’elle l’élément
                indispensable à la création de notre toute première collection.
            </p>
            <p>
                Piquée par la couture à l’âge de 6 ans, Débora a grandi aux côtés de sa grand-mère,
                tailleuse de profession. Les années passent, les mètres de tissues défilent et la passion de
                Débora devient alors une véritable vocation. Elle décide alors de réaliser ses études au
                Saint-Sépulcre où elle obtient les louanges de ses professeurs.


            </p>
            <p>
                A 27 ans, elle ouvre son premier commerce à Bomal. Elle y rencontre d’ailleurs l’amour de sa
                vie, son partenaire et associé Lupercio, avec qui elle vend ses vêtements pour enfants sur
                les marchés. En 2018, Ils décident de s’installer au Brésil, pays natal de Lupercio. Débora,
                inspirée par les courbes et couleurs des paysages brésiliens, ne cesse de créer. Peu après,
                en raison de la pandémie, ils reviennent en Belgique et s’installent au milieu de la
                verdure, dans les Ardennes belges. Ils y ouvrent une boutique de tissus provenant
                principalement des pays limitrophes et dont la plupart sont labélisés BIO et OEKO-TEX.
            </p>
            <p>
                L’histoire se créée et, des étoiles pleins les yeux, nous travaillons à offrir mieux à nos
                enfants, à être de véritables exemples et à leur transmettre ces valeurs essentielles à leur
                développement et à celui du monde qui les entoure.
            </p>

        </div>

    </section>
    </div>
</div>

{% endblock %}
