{% extends 'base.html.twig' %}

{% block title %}Qui Sommes-nous ?{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title pt-5">
                    QUI SOMMES-NOUS ?
                </h1>
                <div class="col-10 text-left pt-5">
                    <div class="presentation">
                        <p><i>Tiny and Pretty</i> est née d’une initiative de son fondateur, récemment devenu papa.
                            Initialement actif dans le secteur du commerce international, il a eu à cœur de créer une
                            marque responsable qui soutient l’économie locale et qui contribue à un système de
                            consommation durable. </p>

                        <p>L’idée du projet vient de l’envie de répondre aux problématiques de surconsommation et de
                            migration des industries textiles hors Europe. En plus de cela, la crise sanitaire a
                            particulièrement touché les petits commerçants et artisans qui n’avaient pas ou peu de
                            potentiel de vente en ligne. </p>

                        <p>Chez <i>Tiny & Pretty</i>, nous avons à cœur de mettre en avant le savoir-faire belge en
                            choisissant
                            de faire appel à des passionnés des métiers du textile afin qu’ensemble, nous puissions
                            proposer des alternatives plus responsables tout en soutenant une économie locale.

                            En allant de la conception à la sélection des matières premières et jusqu’à la confection,
                            nos collections de vêtements sont entièrement fabriquées en Belgique. Nous mettons un point
                            d’honneur à travailler en circuit court, à choisir des tissus de qualité et respectueux de
                            l’environnement, ainsi qu’à mettre en avant le savoir-faire de nos couturier-e-s. </p>


                        <p>Enfin, pour permettre à nos clients de centraliser leurs achats mais aussi pour offrir plus
                            de visibilité à de talentueux créateurs, nous avons pensé le site comme un espace
                            collaboratif où vous trouverez des accessoires minutieusement sélectionnés pour entrer dans
                            notre <i>Pretty World.</i> </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
