{% extends 'base.html.twig' %}

{% block title %}ERROR 404{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
        <h1 class="title">OUPS ! PAGE INTROUVABLE</h1>
            <div class="col-10 text-left pt-5">
                <div class="presentation">
        <p>Désolé, cette page ne semble pas être accessible pour le moment.</p>
        <a href="{{ path('home') }}" class="btn btn-info">Revenir à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
